<div
  class="face-snap-card"
  *ngIf="faceSnap$ | async as faceSnap"
  [ngClass]="{ snapped: hasSnapped }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">BACK TO LIST</a>
  @if (faceSnap.location) {
  <p>Location: {{ faceSnap.location }}</p>
  } @else {
  <p>Location non spécifié :{{ faceSnap.location }}</p>
  }
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" srcset="" />
  <p>{{ faceSnap.description }}</p>
  <p>Face snap crée le : <br />{{ faceSnap.createdAt | date : 'fullDate' }}</p>
  <div>
    <button (click)="onSnap(faceSnap.id)">
      {{ hasSnapped ? 'Undo snap' : 'Oh snap !' }}
    </button>
    <p [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">
      🤌 {{ faceSnap.snaps }}
    </p>
  </div>
</div>
