<div class="face-snap-card" [ngClass]="{ snapped: hasSnapped }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  @if (faceSnap.location) {
  <p>Location: {{ faceSnap.location }}</p>
  } @else {
  <p>Location non spécifié</p>
  }
  <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title" srcset="" />
  <p>{{ faceSnap.description }}</p>
  <p>Face snap crée le : <br />{{ faceSnap.createdAt | date : 'fullDate' }}</p>

  <span>{{ 47 | percent }}</span>
  <div>
    <button (click)="onSnap()">
      {{ hasSnapped ? 'Undo snap' : 'Oh snap !' }}
    </button>
    <p [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">
      🤌 {{ faceSnap.snaps }}
    </p>
  </div>
</div>
